body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  background-color: #dddcff;
}
.choose-for {
  display: flex;
  justify-content: center;
  gap: 96px;
  margin-bottom: 60px;
}
.choose-for a.current {
  padding: 4px 8px;
  background-color: #7d7ada;
  border-radius: 4px;
  color: #fff;
}

.choose-for a:hover {
  color: #4f4c98;
}
.choose-for a {
  text-decoration: none;
  color: #0e181d;
  text-align: center;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: color 0.2s ease;
}

.container > span {
  color: #7d7ada;
  font-size: 40px;
  position: absolute;
  top: 25px;
  left: 35px;
}
.container {
  max-width: 900px;
  margin: 50px auto;
  padding: 31px 5%;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.container h2 {
  margin-bottom: 60px;
  color: #0e181d;
  text-align: center;
  font-family: "DM Serif";
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

form {
  display: inline-flexbox;
  justify-content: space-between;
  gap: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: #0e181d;
  display: block;
  margin-bottom: 8px;
  font-family: "Poppins", sans-serif;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid transparent;
  outline: none;
  border-radius: 4px;
  background-color: #f9f9ff;
  font-size: 14px;
  font-family: "DM Sans", sans-serif;
  transition: background-color 0.4s ease-in, border 0.2s ease-in;
}

input:focus,
textarea:focus {
  border-color: #7d7ada;
  background-color: #fff;
}

textarea {
  resize: none;
}

.leftform,
.rightform {
  width: 48%;
}
.rightform {
  float: right;
}

/* input file decorations */

input[type="file"] {
  display: none;
}
input[type="file"] ~ label {
  position: relative;
  height: max-content;
  width: max-content;
  height: 132px;
  margin-bottom: 20px;
}
input[type="file"] ~ label::before {
  content: "";
  top: 0;
  width: 300px;
  height: 132px;
  position: absolute;
  cursor: pointer;
  background: no-repeat
    url("../../assets/images/auth/5831eb79a609c819548d1985268ef881.png");
  background-position: center;
  background-size: cover;
}

/* input file decorations */
.consent {
  margin-top: 15px;
  text-align: start;
  display: flex;
  gap: 10px;
}

.consent label {
  font-size: 12px;
  color: #363f43;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.register-btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.register-btn button {
  background-color: #7d7ada;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 303px;
  height: 59px;
  transition: background-color 0.2s ease;
}

.register-btn button:hover {
  background-color: #4f4c98;
}

.footer {
  margin-top: 40px;
  text-align: center;
  font-size: 12px;
  color: #000;
  font-family: "Poppins", sans-serif;
}

.footer a {
  color: #7d7ada;
  text-decoration: none;
  margin: 0 5px;
}

.footer a:hover {
  text-decoration: underline;
}
/* VALIDATING  */

p.error {
  display: none;
  font-size: 16px;
  padding: 10px 0;
  color: hsl(0, 66%, 54%);
}

big {
  color: hotpink;
}
