header nav {
  display: flex;
  justify-content: space-between;
  padding: 24px 114px;
  align-items: center;
  background-color: var(--purpleLight);
}
header nav .logo {
  color: #363f43;
  text-align: center;
  font-family: "DM Serif";
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
header nav ul {
  display: inline-flex;
  align-items: center;
}
header nav ul li {
  display: inline-flex;
  align-items: center;
  margin-left: 71px;
}

header nav ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #363f43;
  gap: 10px;
  padding: 4.375px;
  border-radius: 3.5px;
  text-align: center;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: background-color 0.3s ease, color 0.3s ease;
}
header nav ul li a:hover {
  color: var(--vDarkPurple);
  background-color: var(--inputFill);
}
header nav ul li a.current {
  color: var(--vDarkPurple);
}

/* Main Styling */
main {
  height: 70vh;
  gap: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .applyFor {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}
main .applyFor .title {
  color: #000;
  font-family: Montserrat;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 39px; /* 185.714% */
}

main .applyFor .jobTitle {
  color: #0e181d;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

main .container {
  background-color: #fff;
  box-shadow: 0px 25px 48.9px rgba(14, 24, 29, 0.1);
  backdrop-filter: blur(250px);
  border-radius: 10px;
  width: 40%;
  height: 80%;
  flex-shrink: 0;
  color: #0e181d;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
main .container > h2 {
  color: #0e181d;
  text-align: center;
  font-family: "Dm Serif";
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
main .container form {
  display: flex;
  height: inherit;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
main .container > span {
  position: absolute;
  top: 25px;
  left: 35px;
  font-size: 44px;
  color: #7d7ada;
}
main .input {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
main .container .file {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
main .file label,
main .input label {
  color: #0e181d;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.85px;
}

main .input label {
  font-size: 16px;
  font-family: inherit;
  margin-bottom: 8px;
}
main .input input {
  /* width: 333px;
  height: 35px;
  border: none;
  padding: 9px 11px;
  border-radius: 4px;
  color: var(--black);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: #e8e8fb; */
  width: 333px;
  padding: 10px;
  border: 2px solid transparent;
  outline: none;
  border-radius: 4px;
  background-color: #f9f9ff;
  font-size: 14px;
  font-family: "DM Sans", sans-serif;
  transition: background-color 0.4s ease-in, border 0.2s ease-in;
}

main .input input:focus {
  border-color: #7d7ada;
  background-color: #fff;
}

main .file input[type="file"] {
  display: none;
}
main .file label.file-display {
  width: 333px;
  height: 136px;
  appearance: none;
  background: no-repeat url("../../assets/images/img.jpg");
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

main .container form button {
  border-radius: 10px;
  background: #7d7ada;
  width: 333px;
  height: 61.921px;
  border: none;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-family: "DM Sans";
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  letter-spacing: 0.85px;
  transition: background-color 0.2s ease;
}

main .container form button:hover {
  background-color: var(--vDarkPurple);
}

p.error {
  font-size: 12px;
  padding: 10px 0;
  display: none;
  color: hsl(0, 66%, 54%);
}

#btn {
  margin-bottom: 30px;
}
big {
  color: hotpink;
}