body {
  background: #dddcff;
  overflow-x: hidden;
  font-family: "Dm Sans", sans-serif;
}
/* MAIN  */
main {
  display: flex;
  flex-direction: column;
}
.choose-for {
  display: flex;
  justify-content: center;
  gap: 96px;
  margin-bottom: 60px;
}
.choose-for a.current {
  padding: 4px 8px;
  background-color: #7d7ada;
  border-radius: 4px;
  color: #fff;
}

.choose-for a:hover {
  color: #4f4c98;
}
.choose-for a {
  text-decoration: none;
  color: #0e181d;
  text-align: center;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: color 0.2s ease;
}
.container {
  align-self: center;
  width: max-content;
  background-color: #fff;
  box-shadow: 0px 25px 48.9px rgba(14, 24, 29, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(250px);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 31px 130px;
}

.container > span {
  color: #7d7ada;
  font-size: 44px;
  position: absolute;
  top: 40px;
  left: 43px;
}

.container > h2 {
  margin-bottom: 60px;
  color: #0e181d;
  text-align: center;
  font-family: "Dm Serif";
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container > form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-evenly;
  height: inherit;
  text-align: center;
}
.container > form .inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 85px;
}
.container > form .input {
  text-align: start;
  display: flex;
  flex-direction: column;
}
.container > form .input > label {
  color: #0e181d;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
}
.container > form .check {
  text-align: start;
}
.container > form .check p {
  color: #0e181d;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
}
.container > form .check label {
  color: #0e181d;
  font-family: Poppins;
  font-size: 14px;
  cursor: pointer;
  line-height: 24px; /* 200% */
}
.container > form .input input[type="file"] {
  display: none;
}
.container > form .input input[type="file"] ~ label {
  position: relative;
  height: max-content;
  width: max-content;
  height: 132px;
  margin-bottom: 20px;
}
.container > form .input input[type="file"] ~ label::before {
  content: "";
  top: 30px;
  width: 300px;
  height: 132px;
  position: absolute;
  cursor: pointer;
  background: no-repeat
    url("../../assets/images/auth/5831eb79a609c819548d1985268ef881.png");
  background-position: center;
  background-size: cover;
}

.container > form .input > select:focus,
.container > form .input > input:focus {
  background-color: var(--someWhere);
  border: 2.625px solid var(--vDarkPurple);
  transition: background-color 0.3s ease, border 0.3s ease;
}
.container > form .input > select,
.container > form .input > input {
  width: 350px;
  padding: 10px;
  border: 2px solid transparent;
  outline: none;
  border-radius: 4px;
  background-color: #f9f9ff;
  font-size: 14px;
  font-family: "DM Sans", sans-serif;
  transition: background-color 0.4s ease-in, border 0.2s ease-in;
}
.container > form .input > input::placeholder {
  color: rgba(14, 24, 29, 0.6);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.container > form .btns .register,
.container > form .forget-password {
  color: #0e181d;
  text-align: center;
  font-family: "Dm Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.6px;
}

.container > form .btns .register > a,
.container > form .forget-password > a {
  color: #1a00ff;
  font-family: "Dm Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.6px;
  text-decoration: none;
}

.container > form .btns > button:hover {
  background-color: #4f4c98;
}
.container > form .btns > button {
  border-radius: 10px;
  background: #7d7ada;
  color: #fff;
  text-align: center;
  font-family: "Dm Sans";
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.85px;
  width: 303px;
  height: 59px;
  border: none;
  cursor: pointer;
  margin-bottom: 12px;
  transition: background-color 0.2s ease-in;
}

/* CHECKBOX STYLE */

.choose {
  display: inline-flex;
  gap: 20px;
}
.choose label:hover {
  background-color: #f9f9ff;
}
.choose label {
  display: flex;
  cursor: pointer;
  gap: 5px;
  align-items: center;
  padding: 10px 20px;
  border: 2px solid #dddcff;
  border-radius: 4px;
  transition: background-color 0.1s ease-in;
}

.choose input {
  display: none;
}
.choose input:checked ~ label {
  background-color: #dddcff;
}
big {
  color: hotpink;
}
p.error {
  display: none;
  font-size: 16px;
  padding: 10px 0;
  color: hsl(0, 66%, 54%);
}
.container > form .check p.error {
  display: none;
  font-family: inherit;
  font-size: 16px;
  font-weight: normal;
  padding: 10px 0;
  color: hsl(0, 66%, 54%);
}

select {
  /* Style the select element */
  /* Hide the default arrow */
  appearance: none;
  width: 193.06175px;
  border: none;
  border-radius: 8.75px;
  background: var(--inputFill);
  border: 2.625px solid var(--inputFill);
  background-image: url("../../assets/images/searchJobs/Polygon\ 1.svg");
  background-repeat: no-repeat;
  background-position: 95%;
  color: var(--black);
  cursor: pointer;
  font-family: Poppins;
  font-size: 10.5px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.0525px;
  margin-top: 3.5px;
  outline: none;
  padding: 10.5px 11.375px;
}
footer {
  padding: 20px 0;
}