header {
  display: flex;
  justify-content: space-between;
  padding: 49px 152px;
}
header .logo {
  color: #363f43;
  text-align: center;
  font-family: "DM Serif";
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
header nav ul li {
  display: inline-block;
  margin-left: 71px;
}

header nav ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #363f43;
  gap: 10px;
  padding: 4.375px;
  border-radius: 3.5px;
  text-align: center;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: background-color 0.3s ease, color 0.3s ease;
}
header nav ul li a:hover {
  color: var(--vDarkPurple);
  background-color: var(--inputFill);
}
header nav ul li a.current {
  color: var(--vDarkPurple);
}
