.pulse {
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0% {
    font-variation-settings: "FILL" 1, "wght" 100;
  }
  50% {
    font-variation-settings: "FILL" 1, "wght" 700;
  }
  100% {
    font-variation-settings: "FILL" 1, "wght" 100;
  }
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

span.big {
  font-size: 35px;
  font-variation-settings: "FILL" 1, "opsz" 40;
}
