* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f5f5f5;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}
@font-face {
  font-family: "Dm Sans";
  src: url("../assets/fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf");
}
@font-face {
  font-family: "Dm Serif";
  src: url("../assets/fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf");
}
@font-face {
  font-family: "montserrat";
  src: url("../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-Regular.ttf");
}
:root {
  --purpleDark: #cbc9fd;
  --purpleLight: rgba(191, 189, 255, 0.54);
  --black: #0e181d;
  --purple: #7d7ada;
  --white: #ffffff;
  --vDarkPurple: #5344c2;
  --footer: #dddcff;
  --btnLight: #bfbdff8a;
  --cardStroke: #dbdfe4;
  --inputFill: #f8f7ff;
  --placeholder: #0e181d99;
  --jWhite: #fcfcff;
  --footerFill: #4f4c98;
  --body: #f5f5f5;
  --someWhere: #fcfcff;
}
